<div class="container-fluid">
    <div class="row viewcontent">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4 class="headingh4">About MobFix </h4>
            <p class="contentp">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the radio
                telephone equivalent of land dial phone service. Mobile service was a pre-cellular radio system linked to
                the public switched telephone network, was the radio telephone equivalent of land dial phone service. Mobile
                service was a pre-cellular radio system linked to the public switched telephone network, was the radio telephone
                equivalent of land dial phone service.</p>
        </div>

    </div>



    <div class="row MobFixcontent">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h4 class="whyMobfix">Why MobFix ?</h4>
            <p class="whyMobfixp">Mobile service was a pre-cellular radio system linked to the public switched telephone network</p>
        </div>
    </div>

    <div class="row viewcontents">
        <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12">
            <h4 class="Okh4">Why Choose Us ?</h4>
            <ul class="ul">
                <li>
                    <a href="/" ui-sref="repair" ui-sref-active="active" class="glyphicon glyphicon-arrow-right"> Repairing</a>
                </li>
                <li>
                    <a href="#" class="glyphicon glyphicon-arrow-right"> Servicing</a>
                </li>
                <li>
                    <a href="#" class="glyphicon glyphicon-arrow-right"> Fixing</a>
                </li>
                <li>
                    <a href="#" class="glyphicon glyphicon-arrow-right"> Arranging</a>
                </li>
                <li>
                    <a href="#" class="glyphicon glyphicon-arrow-right"> Aliquim</a>
                </li>
                <li>
                    <a href="#" class="glyphicon glyphicon-arrow-right"> Networking</a>
                </li>
            </ul>
        </div>
        <br/>

        <div class="col-sm-4 col-md-4 col-lg-6 col-xs-12">
            <p class="Okp">Mobile service was a pre-cellular radio system linked to the public switched telephone network Mobile service
                was a pre-cellular radio system linked to the public</p>

            <img src="../assets/images/percent.jpg" class="img-percent" alt="" />

        </div>

        <div class="col-sm-4 col-md-4 col-lg-3 col-xs-12">
            <h4 class="Okh3">What Client's Say ?</h4>
            <p class="ok-p">Mobile service was a pre-cellular radio system linked to the public switched telephone network Mobile service
                was pre-cellular radio system linked to the public</p>
        </div>
    </div>

    <div class="row MobFixcontent">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h4 class="whyMobfix">OUR TEAM</h4>
        </div>
    </div>

    <div class="row ABURow">
        <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
            <div class="container2">
                <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
                <div class="ABUmiddle">
                    <div class="ABUtext">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
                        radio telephone equivalent.
                        <ul class="footer-social-icons2 footer-social-icons3">

                            <li>
                                <a href="#">
                                    <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="ABUcontent">
                    <a role="button" href="">
                        <button type="button" class="btn ABUReadbutton">Santosh Peddi</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
            <div class="container2">
                <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
                <div class="ABUmiddle">
                    <div class="ABUtext">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
                        radio telephone equivalent.
                        <ul class="footer-social-icons2 footer-social-icons3">

                            <li>
                                <a href="#">
                                    <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="ABUcontent">
                    <a role="button" href="">
                        <button type="button" class="btn ABUReadbutton">Kundhan</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
            <div class="container2">
                <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
                <div class="ABUmiddle">
                    <div class="ABUtext">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
                        radio telephone equivalent.
                        <ul class="footer-social-icons2 footer-social-icons3">

                            <li>
                                <a href="#">
                                    <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="ABUcontent">
                    <a role="button" href="">
                        <button type="button" class="btn ABUReadbutton">Gopireddy Simhadri</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 AboutUs">
            <div class="container2">
                <img src="../assets/images/profileimage.jpg" alt="Avatar" class="ABUimage">
                <div class="ABUmiddle">
                    <div class="ABUtext">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the
                        radio telephone equivalent.
                        <ul class="footer-social-icons2 footer-social-icons3">

                            <li>
                                <a href="#">
                                    <img src="../assets/images/facebook_gold.png" alt="" class="footerfb" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/googleplus_black.png" alt="" class="footergplus2" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../assets/images/twitter_gold.png" alt="" class="footertwitter2" />
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../assets/images/linkedin_black.png" alt="" class="footerwivfi" />
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="ABUcontent">
                    <a role="button" href="">
                        <button type="button" class="btn ABUReadbutton">Akhila Vooturi</button>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="row MobFixcontent">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h4 class="whyMobfix">Best Solution is the simplest IDEA!</h4>
            <p class="whyMobfixp">Mobile service was a pre-cellular radio system linked to the public switched telephone network, was the radio
                telephone equivalent of land dial phone service. Mobile service was a pre-cellular radio system linked to
                the public switched telephone network, was the radio telephone equivalent of land dial phone service.</p>
        </div>
    </div>

    <!-- our clients -->
    <div class="row OurClient">
        <div class="col-md-3 col-sm-4 col-xs-7 col-lg-3">
            <h4 class="Oksh4">Our Happy Clients</h4>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-2 col-lg-8">
            <h1 class="borderh1"></h1>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3 col-lg-1 Arrow">
            <a href="#imageCarousel" class="glyphicon  left" data-slide="prev">
                <span class="glyphicon  glyphicon-chevron-left"></span>
            </a>

            <a href="#imageCarousel" class="glyphicon  right" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <!--  jquery sliders -->
    <div class="conatiner jquerySlider">
        <div class="row">
            <div class="col-xs-12 col-1g-12">
                <div id="imageCarousel" class="carousel slide" data-interval="2000">
                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-wrap="true" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner slideinner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner1.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner2.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner3.png" class="Sliderwidth" />

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner1.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner2.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner3.png" class="Sliderwidth" />

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner1.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner2.png" class="Sliderwidth" />

                                </div>
                                <div class="col-xs-4 col-lg-4 col-sm-4">
                                    <img src="../assets/images/banner3.png" class="Sliderwidth" />

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>