<div class="container-fluid">
    <div class="ContactusBtm">
        <div class="rows">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h3 class="colh3"> Visit Our Office </h3>
                <h5 class="contentp"> Address:AAA Office, Secunderabad, 500003, India.</h5>
                <br />
                <img src="../assets/images/contactus-left-image.png" alt="Responsive" class="img">
            </div>

            <div class="col-sm-6 col-md-6 col-xs-12 contactus">
                <h3 class="col"> Leave Us a Message </h3>
                <h5 class="contactp">We will get back to you as soon as possible </h5>
                <form class="box formbox2" action="">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user col"></i></span>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="User name" />
                    </div><br>

                    <div class="input-group">
                        <span class="input-group-addon">  <i class="glyphicon glyphicon-envelope col"></i></span>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div><br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone col"></i></span>
                        <input id="inputPhone" type="tel" class="form-control" name="phone" placeholder="Phone number">
                    </div><br>

                    <textarea id="message" name="message" placeholder="Message.." class="msg"></textarea>

                    <button type="send" class="btn btnsend" value="Send">SEND</button>

            </div>

        </div>
    </div>
</div>