
<div class="container-fluid">
  <div class="container MRBtm">
    <div class="row PDFcontent">
      <div class="col-md-12  col-xs-12">
        <h4 class="MRheadingh4">Get an instant <br /> mobile repair estimate. It's Easy/Simple/Quick.</h4>
      </div>
    </div>
    <form class="" action="">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="control-label PDFlabel" for="brands">Device Brand *</label>
            <div class="">
              <select placeholder="Select Brand" ng-options="x.MobileCompany for x in brand" ng-model="selectedItem" ng-change="selectedItemChanged(selectedItem)">
               
              </select>

            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="control-label PDFlabel" for="models">Device Model*</label>
            <div class="">
                <select ng-options="z.MobileVersionDescription for z in model" ng-model="selectedModelItem" ng-change="selectedModelItemChanged(selectedModelItem)">
                  <option value="select model">select model</option>

                </select>
            </div>
          </div>
        </div>


        <div>
        <label class="control-label PDFlabel" for="models">Final Cost*</label>
        <input id="finalCost" type="text"></input>

        <button type="submit" value="checkout" ng-click="vm.checkout()">Checkout</button>

        <div>
       
<table class="table">
<thead>
  <tbody>
    <tr>


<th>
Select the Mobile Issue
</th>
<th>
MobileIssue
</th>
<th>
RepairPrice
</th>

    </tr>
  </tbody>
</thead>
<tr ng-repeat="d in issueprice">
<td><input type="checkbox" ng-model="vm.eduToEdit.test">{{vm.eduToEdit.test}}</input></td><td> {{d.MobileIssue}} </td><td> {{d.FinalCost}}</td>
</tr>
</ul>

  


      </div>
      
    </form>

    <div class="row">
      <p class="MRTrust">Trusted by</p>
    </div>

    <div class="BKOicons">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6 ">
          <img src="../assets/images/Apple.png" class="Bkoimg" />
          <h4 class="BKOoption"> Apple</h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/samsung.png" class="Bkoimg">
          <h4 class="BKOoption">Samsung</h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/blackberry.png" class="Bkoimg">
          <h4 class="BKOoption">Blackberry</h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 ">
          <img src="../assets/images/microsoft.png" class="Bkoimg">
          <h4 class="BKOoption">Microsoft</h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/nexus.png" class="Bkoimg">
          <h4 class="BKOoption">Nexus</h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
          <img src="../assets/images/googlepixel.png" class="Bkoimg">
          <h4 class="BKOoption">Googlepixel</h4>
        </div>
      </div>
    </div>
  </div>
</div>

  
