<div class="container-fluid">


  <div class="container PDFBtm">
    <div class="row PDFcontent">
      <div class="col-md-12  col-xs-12">
        <h4 class="PDFheadingh4">PRODUCT DETAILS FORM</h4>
      </div>
    </div>
    <form class="" action="">

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="control-label PDFlabel" for="issue">Type Of Issue *</label>
            <div class="">
              <select class="form-control" name="issue">
                <option value="No Incomming">No Incomming</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
              <!-- <input type="submit" class="form-control" id="issue" placeholder="Select Type Of issue" name="issue"> -->
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="control-label PDFlabel" for="brand">Device Brand *</label>
            <div class="">
              <input type="text" class="form-control" id="brand" placeholder="Enter Device Brand" name="brand">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btnsuccess">Submit</button>
      </div>

    </form>
  </div>
</div>
