<!--{{myOrdersData}}-->
<div class="panel-body" style="height:350px;overflow-y:scroll">
  <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt" style="width:100%;height:500px">
    <tr>
      <th>SNO</th>
      <th>OrderID</th>
      <th>OrderPlacedDate</th>
      <th>fullname</th>
      <th>ContactNumber</th>
      <th>LoginId</th>
    </tr>
    <tr ng-repeat="myOrdersData in myOrdersData">
      <td>{{myOrdersData.customeradminid}}</td>
      <td>{{myOrdersData.OrderID}}</td>
      <td>{{myOrdersData.OrderPlacedDate}}</td>
      <td>{{myOrdersData.fullname}}</td>
      <td>{{myOrdersData.ContactNumber}}</td>
      <td>{{myOrdersData.LoginId}}</td>
    </tr>

  </table>
  <div />
