<div class="container-fluid">
    <div class="container RSPContainer">
        <div class="row" id="SignInrcorners">

            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <img src="../assets/images/login.png" class="img-roundedSignIn" alt="">
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 MembersSignIn">
                <h3 class="title">Register</h3>


                <form class="box SignInformbox" action="">
                    <div class="inner-addon left-addon inputbox col">
                        <i class="glyphicon glyphicon-user col"></i>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="User name" />
                    </div><br>

                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-envelope col"></i>
                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                    </div><br>

                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-phone col"></i>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobile No" />
                    </div><br>

                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock col"></i>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                    </div><br>

                    <p style="text-align:center;"> <label class="checkbox-inlinesignin">
              <input type="checkbox" id="c1" name="cb" value="">
                I Accept Terms and Conditions
            </label></p><br>

                    <div class="SignInwrapper">
                        <button type="submit" class="btn buttonSignIn" value="Submit">REGISTER</button>
                    </div><br>

                    <div class="logsignin">
                        <h5 class="signinh5">Already have an account ? <a href="login.html" class="link"> LOGIN</a></h5>
                    </div>


                    <div class="hr"></div>


                    <!-- Footer Elements -->
                    <div class="container social-icons">

                        <!-- Social buttons -->
                        <ul class="list-unstyled list-inline social-icons">
                            <li class="facebook signinf">
                                <a href="#">
                                    <i class="fa fa-facebook"> </i>
                                </a>
                                <p class="loginpadding">Login With Facebook</p>
                            </li>
                        </ul>
                        <!-- Social buttons -->

                    </div>
                    <!-- Footer Elements -->



                </form>

            </div>

        </div>
    </div>
</div>