<div class="container-fluid" id="resetPasswordModal">
    <div class="container RSPContainer">
        <div class="row" id="rcornersRS">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                <img src="assets/images/login.png" class="img-roundedRS" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 MembersLogin MembersLoginRs">
                <h3 class="titleRS">RESET PASSWORD</h3>
                <form class="box formbox" action="">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-envelope col"></i>
                        <input id="email" type="text" class="form-control input-borderless" name="email" placeholder="Email">
                    </div>
                    <label class="reset-pwd-txt">Password will be sent to your registered Email</label>
                    <div class="wrapperlogin">
                        <button type="submit" class="btn buttonloginRS" value="Submit">SUMBIT</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>
