
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10"><h1>Customer Profile</h1></div>
    <!-- <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>
    </div><!--/col-3-->
    <div class="col-sm-9">
      <div class="tab-content">


        <form class="form" action="##" method="post" id="registrationForm">
          <div class="form-group">
            <tr>
              <div class="col-xs-6">
                <label for="first_name"><h4>First name</h4></label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" value="{{userData[0].FirstName}}" title="enter your first name if any.">

                <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
              </div>
          </div>
          <div class="form-group">

            <div class="col-xs-6">
              <label for="last_name"><h4>Last name</h4></label>
              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" value="{{userData[0].LastName}}" title="enter your last name if any." />

            </div>
          </div>

          <div class="form-group">

            <div class="col-xs-6">
              <label for="phone"><h4>Phone</h4></label>
              <input type="number" class="form-control" name="phone" id="phone" placeholder="enter phone" value="{{userData[0].ContactNumber}}" title="enter your phone number if any." ng-pattern="/^[0-9]{1,7}$/" ng-model="phone" ng-maxlength="10" ng-minlength="10" required>
              <div ng-messages="form.phone.$error">
                <!--<div ng-messages="form.phone.$error.minlength">
                <div ng-messages="form.phone.$error.maxlength">-->
                <div ng-messages="form.phone.$error.pattern">
                  <div ng-message="required">This field is required</div>
                  <div ng-message="phone">Enter your valid phone number</div>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-6">
              <label for="mobile"><h4>Mobile</h4></label>
              <input type="number" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" value="{{userData[0].ContactNumber}}" title="enter your mobile number if any." ng-model="mobile" ng-maxlength="10" ng-pattern="/^[0-9]{1,7}$/" ng-minlength="10" required>
              <div ng-messages="form.phone.$error">
                <!--<div ng-messages="form.phone.$error.minlength">
                <div ng-messages="form.phone.$error.maxlength">-->
                <div ng-messages="form.phone.$error.pattern">
                  <div ng-message="required">This field is required</div>
                  <div ng-message="phone">Enter your valid phone number</div>
                </div>
              </div>

            </div>
          </div>
          <div class="form-group">

            <div class="col-xs-6">
              <label for="email"><h4>Email</h4></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" value="{{userData[0].LoginId}}" title="enter your email.">

            </div>
          </div>
          <div class="form-group">

            <div class="col-xs-6">
              <label for="text"><h4>Address Line1</h4></label>
              <input type="text" class="form-control" id="location" placeholder="somewhere" title="enter a location" value="{{userData[0].AddressLine1}}">

            </div>
            <div class="col-xs-6">
              <label for="text"><h4>Address Line2</h4></label>
              <input type="text" class="form-control" id="location" placeholder="somewhere" title="enter a location" value="{{userData[0].AddressLine2}}">

            </div>
            <div class="col-xs-6">
              <label for="text"><h4>City</h4></label>
              <input type="text" class="form-control" id="City" placeholder="City" title="enter a City" value="{{userData[0].City}}">

            </div>

            <div class="col-xs-6">
              <label for="text"><h4>State</h4></label>
              <input type="text" class="form-control" id="State" placeholder="State" title="enter a State" value="{{userData[0].State}}">

            </div>

            <div class="col-xs-6">
              <label for="text"><h4>Country</h4></label>
              <input type="text" class="form-control" id="Country" placeholder="Country" title="enter a Country" value="{{userData[0].Country}}">

            </div>

            <div class="col-xs-6">
              <label for="text"><h4>Zipcode</h4></label>
              <input type="text" class="form-control" id="ZIPCode" placeholder="ZIPCode" title="enter a ZIPCode" value="{{userData[0].ZIPCode}}">

            </div>


          </div>

          <div class="form-group">
            <div class="col-xs-12 btnbottom">
              <br>
              <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Update</button>

            </div>
          </div>

          </tr>
        </form>

    </div><!--/tab-content-->
  </div><!--/col-9-->
</div><!--/row-->
